@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BEM VINDO</h1>
    <p class="lead">Caro amigo, este projeto foi desenvolvido com o intuito de testar suas habilidades com programação WEB. Não se preocupe com os detalhes, queremos apenas verificar qual seu nível de entendimento de pequenas funções do dia-a-dia (faça as tarefas da maneira que lhe for conveniente). Boa sorte!!</p>
</div>

WELLINGTON ALVES DOS SANTOS

<div class="row">
    <div class="col-md-12">
        <h1>LISTA DE TAREFAS</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Tarefa - 1</h3>
        O cadastro de clientes está incompleto, inclua os campos e-mail, cidade e gênero.
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Tarefa - 2</h3>
        No cadastro de clientes, o campo telefone está com uma restrição para aceitar apenas 12 caracteres, aumente para 20.
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Tarefa - 3</h3>
        Garanta que o campo gênero só permita os valores FEMININO ou MASCULINO.
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Tarefa - 4</h3>
        O botão para excluir um cliente deveria remover apenas o cliente excluído da listagem e exibir os que ficaram. Por algum motivo a listagem fica em branco ao excluir um cliente. Corrija este erro.
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Tarefa - 5</h3>
        Crie um cadastro de usuários para o sistema, o cadastro deve ter login, nome e se é administrador ou não;
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Tarefa - 6</h3>
        Adicione um novo campo no cadastro de clientes para indicar o usuário que o criou.
        OPICIONAL 1: O campo deve ser uma referencia para a tabela de usuários.
        OPICIONAL 2: No cadastro do cliente, apresentar uma lista com os usuários cadastrados para que haja seleção.
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Tarefa - 7</h3>
        Crie um novo relatório que liste todos os clientes do sexo FEMININO da cidade de JUNDIAÍ;
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Tarefa - 8</h3>
        Crie um novo relatório que liste todos os clientes cadastrados por um usuário administrador;
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Tarefa - 9</h3>
        No cadastro de clientes, crie um novo botão (para cada cliente) chamado PEDIDOS;
        Esse botão deve levar a uma nova visão que apresente um cadastro de pedidos (apresentando apenas os pedidos do cliente selecionado);
        Esse cadastro deve permitir incluir, editar ou excluir os pedidos;
        Um pedido deve ter os seguintes campos (além da referencia para o cliente): código, data de criacao, descricao (preferencialmente que permita multiplas linhas) e valor total.
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Tarefa - 10</h3>
        Crie um novo relatório que liste todos os clientes que possuam mais que 1 pedido;
        Inclua as colunas QTDE DE PEDIDOS e VALOR TOTAL DOS PEDIDOS;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Tarefa - 11</h3>
        Crie um novo relatório que liste todos os pedidos que contenha na descrição "PAPEL HIGIÊNICO" feitos após 01/08/2018;
        Inclua a coluna Nome do Cliente;
        OPICIONAL 1: Pinte o fundo da linha de vermelho se o valor total do pedido for menor que R$ 1.000,00 e de verde se for maior ou igual a 1.000,00;
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Questão - 12</h3>
        <p>Descreva como o sistema controla para não criar a mesma tabela duas vezes no banco de dados.</p>
        <p><b>Através da classe BancoDadosManager com as migrações</b></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Questão - 13</h3>
        <p>Descreva da maneira mais detalhada que puder o que você entende do comando a seguir: @("DependencyManager.Resolve<IRepository<Cliente>>()").</p>
        <p><b>O gerenciador de dependências estabelece uma convenção para obter uma instância padrão. Neste caso, a classe NhRepository é o alvo.</b></p>
    </div>
</div>